@charset "UTF-8";
.tabs{width:100%;height:45px;position:fixed;display:-webkit-box;background:rgba(20,20,20,.9);border-bottom:1px solid rgba(100,160,200,.5);}
.tabs>span{width:100%;font-size:10px;-webkit-box-flex:1;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-orient:vertical;color:rgba(225,225,225,.3);}
.tabs>span{-webkit-transform:translateZ(0);-webkit-transition-duration:.2s;}
.tabs>span:before{display:block;width:20px;height:20px;opacity:.3;}
.tabs>.crt{color:rgba(225,225,225,.9);-webkit-transform:translateY(3px);}
.tabs>.crt:before{opacity:.9;}
.tab-bd{padding:55px 1% 60px;}
.tab-bd>.tab-item{display:none;}
.tab-bd>.crt{display:block;}
.tab-item>li{width:100%;margin-bottom:10px;}
.tab-item a{display:-webkit-box;width:100%;}
.tab-item a:active{background:#E5E5E5;}
.tab-item span{width:16%;height:100%;display:block;-webkit-box-flex:1;padding-top:23%;background-repeat:no-repeat;-webkit-background-size:cover;border-top-left-radius:5px;border-bottom-left-radius:5px;background-position:center;}
.tab-item .info{width:50%;-webkit-box-flex:1;margin-left:5px;display: -webkit-box;-webkit-box-orient:vertical;}
.tab-item h4,.tab-item p{display: -webkit-box;-webkit-box-flex:1;-webkit-box-pack:center;-webkit-box-align:center;background:rgba(0,0,0,.3);overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:16px;color:#FFF;}
.tab-item p{border-bottom-right-radius: 5px;padding:0 5px;}
.tab-item h4{margin-bottom:5px;-webkit-line-clamp:1;border-top-right-radius:5px;}
.more{background:#fff;border:1px solid #bbb;padding:8px 0;margin:0 auto;width:99%;display:block;position:relative;text-align:center;border-radius:5px;}
.more:active{background:#E5E5E5;}
.more-load:after{width:12px;height:12px;content:'';position:absolute;top:50%;left:50%;margin:-7px -55px;border:1px solid #237FE5;border-radius:12px;
-webkit-animation: gif 1s infinite linear;clip:rect(0 auto 10px 0);}
@-webkit-keyframes gif{0% {-webkit-transform:rotate(0deg);}100% {-webkit-transform:rotate(360deg);}}
.nodata{line-height:2;text-align:center;}
.active{background:#E5E5E5;}

.bg-1 h4,.bg-1 p{background-color:#fe7877}
.bg-2 h4,.bg-2 p{background-color:#849be7}
.bg-3 h4,.bg-3 p{background-color:#6fc6e1}
.bg-4 h4,.bg-4 p{background-color:#c8bd51}
.bg-5 h4,.bg-5 p{background-color:#44a4ee}

