@charset "UTF-8";
body{overflow-x:hidden;margin-bottom:55px;}
h1{height:60px;background:#f2f2f2;font-size:18px;text-align:center;line-height:60px;font-weight:600;border:1px solid #bbb;}
.filter{font-size:16px;position: relative;}
.filter>li{line-height:45px;display:-webkit-box;padding:0 5%;border-bottom:1px solid #bbb;}
.filter input{width:200px;height:26px;background:transparent;-webkit-appearance:none;border:none;text-align:right;color:#BBB;vertical-align:middle;}
input::-webkit-inner-spin-button, input::-webkit-clear-button,input::-webkit-calendar-picker-indicator {display:none;}
.filter h4{-webkit-box-flex:1;}
.filter-info:after{width:8px;height:8px;content:'';display:inline-block;-webkit-transform:rotate(45deg);border-width:2px 2px 0 0;border-color:#bbb;border-style:solid;margin-left:5px;}
/*赛事结果*/
.vs-hd{height:45px;line-height:45px;padding:10px 0 5px;text-align:center;}
.i-team{width:45px;height:45px;margin:0 15px;margin-bottom: -15px;}
.i-vs{margin:0 3px;font-size:14px;font-weight:bold;}
.vs-info{margin-bottom:5px;}
.hot-img{width:98%;margin:3px auto 0;-webkit-box-flex:1;padding-top:25.6%;background-repeat:no-repeat;-webkit-background-size:cover;border-radius:5px;}
.feed{padding:10px 1% 0;}
.feed>li{width:100%;margin-bottom:10px;}
.feed>li:last-child{margin-bottom:0;}
.feed a{display:-webkit-box;width:100%;}
.feed a:active{background:#E5E5E5;}
.feed span{width:16%;height:100%;display:block;-webkit-box-flex:1;padding-top:23%;background-repeat:no-repeat;-webkit-background-size:cover;border-top-left-radius:5px;border-bottom-left-radius:5px;background-position:center;}
.feed .info{width:50%;-webkit-box-flex:1;margin-left:5px;display: -webkit-box;-webkit-box-orient:vertical;}

.feed h4,.feed p{display: -webkit-box;-webkit-box-flex:1;-webkit-box-pack:center;-webkit-box-align:center;background:#b0b0b0;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:16px;color:#FFF;}
.feed p{border-bottom-right-radius: 5px;}
.feed h4{margin-bottom:5px;-webkit-line-clamp:1;border-top-right-radius:5px;padding:0 5px; }
.feed .nodata{line-height:150px;text-align:center;}
/*底部*/
footer{margin:10px 0 0;}
footer>div{height:60px;border:1px solid #bbb;border-left:none;border-right:none;}
footer>p{text-align:center;padding:10px 0;font-size:12px;}
.switch{width:100%;height:60px;display: -webkit-box;background:#FFF;}
.switch>a{width:100%;display:-webkit-box;-webkit-box-flex:1;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-orient:vertical;text-align:center;color:#000;}
.switch>a:before{display:block;width:30px;height:30px;}
.active{background:#E5E5E5;}

/*侧边栏*/
aside{width:80%;height:100%;background:#fff;position:absolute;top:0;
  left:100%;bottom:0;right:0;z-index:9;display:none;-webkit-transform:translateZ(0);}
aside.slideIn{-webkit-animation:.2s slideIn forwards;}
aside.slideOut{-webkit-animation:.2s slideOut forwards;}
@-webkit-keyframes slideOut{0%{-webkit-transform:translateX(-100%);}100%{-webkit-transform:translateX(0);}}
@-webkit-keyframes slideIn{100%{-webkit-transform:translateX(-100%);}}
.masking{position:fixed;left:0;top:0;width:100%;height:100%;z-index:8;display:none;background-color:rgba(0,0,0,.3);}
.s-match>dt{height:45px;line-height:45px;font-size:18px;position:relative;text-align:center;border-bottom:1px solid #BBB;}
.s-match .back{position:absolute;left:10px;}

.s-match .back:before{width:8px;height:8px;content:'';display:inline-block;-webkit-transform:rotate(45deg);border-width:0 0 2px 2px;border-color:#bbb;border-style:solid;margin:0 5px 2px 0;}
.check-box{border-bottom:1px solid #BBB;}
.check-box .global,.check-box .item{display:-webkit-box;}
.check-box span{width:100%;height:36px;line-height:36px;margin:5px;text-align:center;display:block;border:1px solid #bbb;border-radius:4px;-webkit-box-flex:1;position:relative;}
.check-box .item div{width:100%;height:36px;line-height:36px;margin:5px;-webkit-box-flex:1;}
.check-box .cked:after{width:15px;height:15px;content:'';position:absolute;bottom:2px;right:2px;background-position:0 -174px;opacity:0.6;}
.check-box span:active,.btn-search:active,.s-match .back:active{background:#ECECEC;}
.seacher{border-bottom:1px solid #BBB;padding:10px 5px;}
.search{height:26px;line-height:26px;border:1px solid #BBB;}
.btn-search{padding:4px 10px;margin:5px;text-align:center;border:1px solid #bbb;border-radius:4px;}
.result-box ul{padding:0 5%;}
.result-box li{height:45px;line-height:45px;border-bottom:1px solid #BBB;font-size:14px;}
.result-box li:active{background:#ECECEC;}
.result-box em{float:right;color:#bbb;}
.result-box .useful i{color:#FF8444;}
.result-box .useful em{color:#000;}

/*轮播图*/
.slide{position:relative;max-width:640px;overflow:hidden;margin:0 auto}
.slide:after{content:'';display:block;width:100%;padding-top:37.5%}
.slide ul{position:absolute;left:0;top:0;width:100%;height:100%}
.slide li{list-style:none;position:absolute;left:0;top:0;width:100%;height:100%}
.slide li:first-child{z-index:1}
.slide li img{position:absolute;left:0;top:0;width:100%;height:100%;border:none}
.slide .dot{position:absolute;right:10px;bottom:10px;z-index:5;font-size:0}
.slide .dot span{display:inline-block;width:5px;height:5px;margin-left:5px;border:1px solid #bbb;border-radius:50%}
.slide .dot .cur{background-color:#fff}

/*日历插件*/
.datepicker-box{width:280px;position:absolute;top:45px;right:7%;border:1px solid #d9d9d9;background:#Fff;z-index:9;}.datepicker-header{background:#F8F8F8;border-bottom:1px solid #EEE;}.datepicker-header span{text-align:center;padding:12px 15px 10px;}.datepicker-header span.hover{background:#EEE;}.datepicker-header span b{display:block;width:0;height:0;font-size:0;border:8px solid #F8F8F8;}.datepicker-pre{float:left;}.datepicker-next{float:right;}.datepicker-header span.datepicker-pre b{border-left:0;border-right:8px solid #444;}.datepicker-header span.datepicker-next b{border-right:0;border-left:8px solid #444;}.datepicker-header h4{padding:10px 0;height:20px;line-height:20px;text-align:center;font-size:16px;font-weight:normal;}.datepicker-body{width:100%;border:0;border-collapse:collapse;border-spacing:0;}.datepicker-body th, .datepicker-body td{height:25px;line-height:25px;text-align:center;font-size:14px;}.datepicker-body th.datepicker-weekend, .datepicker-body td.datepicker-weekend{color:#FF0000;}.datepicker-body th{padding:6px 0;font-weight:normal;color:#333;}.datepicker-body td{padding:4px 0;}.datepicker-body td.cur{background:#DDD;border:1px solid #CCC;color:#FFF;}
.dp-masking{position:fixed;left:0;top:0;width:100%;height:100%;z-index:8;display:none;background-color:rgba(0,0,0,.3);}