<% include template/header.html %>
<link rel="stylesheet" href="css/login.css">
</head>
<body>
<div id="container">
	<% include template/top.html %>
	<div class="middle">
		<div id="sitemap">
			<div class="l">
				<a href="/" class="back btn"><i class="icon-angle-left"></i>返回</a><h2 class="f20 ml20 n di">注册</h2>
			</div>
		</div>
	</div>
	<div id="main">
		<h2 class="reg-caption f14 wh">欢迎注册S+商户平台！在这里您可以...。</h2>
		<div class="reg-done">
			<div class="tip">
				恭喜您，注册成功！
			</div>
			<a href="/" class="btn btn-big btn-blue r">点击立即开店</a>
		</div>
	</div>
</div>
</body>
</html>