<ul id="menu">
	<li><a href="/" class="db"><i class="icon-home"></i>我的店铺</a></li>
	<li><a href="/" class="db"><i class="icon-magic"></i>店铺装修</a></li>
	<li><a href="/manager/goods" class="db"><i class="icon-shopping-cart"></i>商品管理</a></li>
	<li><a href="/" class="db"><i class="icon-truck"></i>运单运费</a></li>
	<li><a href="/" class="db"><i class="icon-cny"></i>营销管理</a></li>
	<li><a href="/" class="db"><i class="icon-list-alt"></i>订单中心</a></li>
	<li><a href="/" class="db"><i class="icon-user"></i>客户管理</a></li>
	<li><a href="/" class="db"><i class="icon-thumbs-up"></i>客户评价</a></li>
	<li><a href="/" class="db"><i class="icon-bar-chart"></i>数据统计</a></li>
	<li><a href="/" class="db"><i class="icon-money"></i>财务管理</a></li>
</ul>